<!DOCTYPE html>
<html>
<head>
  <title>VocTrainer</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap core CSS -->
  <link href="voctrainer/external/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="voctrainer/external/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="voctrainer/external/theme.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- needs to be loaded before the body to prevent displaying of angular templates -->
  <script src="voctrainer/external/angular.min.js"></script>

</head>
<body role="document">
      <!-- Navbar -->
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./index.html">Trainer</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li id="navtrainertitle">trainertitle</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="index.html?about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

    <!-- Trainerselector -->
    <div id="trainerselector" class="vocUIelement container theme-showcase" role="main" ng-app="myApp" ng-controller="myCtrl" ng-cloak>
      <div ng-repeat="category in data">
        <h1>{{category.name}}</h1>
        <div class="list-group">
          <a ng-repeat="trainer in category.trainers" ng-href="?{{trainer.file}}">{{trainer.name || trainer.file}}</a>
        </div>
      </div>
    </div>

    <!-- VocTrainer -->
    <div id="voctrainer" class="vocUIelement container theme-showcase" role="main">

      <!-- Stats -->
      <div id="stats"></div>
      <div id="statschart"></div>

      <!-- Question and Textbox -->
      <div class="page-header">
        <h1><span id="askedline">question</span></h1>
        <div class="list-group" id="typespot"></div>
      </div>

      <!-- answeroptions -->
      <div class="row" style="text-align:right;">
        <div class="list-group" id="answeroptions"></div>
      </div>

      <!-- Next/Don't know buttons -->
      <p>
        <button type="button" onclick="javascript:vocTrainer.dontKnow();" class="btn btn-lg btn-default" data-toggle="tooltip" data-placement="top" title="Shortcut: [ esc ]">I don't know</button>
        <button type="button" onclick="javascript:vocTrainer.ask();" class="btn btn-lg btn-default" data-toggle="tooltip" data-placement="top" title="Shortcut: [ return ]">Next question</button>
        <button type="button" onclick="javascript:vocTrainer.knowThat();" class="btn btn-sm btn-default">Never ask again</button>
      </p>

      <!-- columnswitcher -->
      <div id="questioncolumnswitcher" class="btn-group" data-toggle="buttons">
        <label class="btn btn-sm btn-default active">
          <input type="radio" name="questioncolumn" checked value="any"> Ask any
        </label>
      </div>

      <div class="page-header">
        <p>
          Found a mistake? Please report it with <span class="badge">subject: <span id="errorreportfile">file</span>_<span id="errorreport">#</span></span>. Thank you!
        </p>
      </div>

    </div>

    <!-- Finished -->
    <div id="finished" class="vocUIelement container theme-showcase" role="main">
      <p>You are done!</p>
      <p id="finishedscore" class="panel-body"></p>
      <p>
        <a href="javascript:location.reload()" class="btn btn-lg btn-default">Train this one again</a>
        <a href="./index.html" class="btn btn-lg btn-default">Select trainer</a>
      </p>
    </div>

    <!-- About -->
    <div id="about" class="vocUIelement container theme-showcase" role="main">
      <a href="https://github.com/schwerpunkt/VocTrainer">See on GitHub</a>
    </div>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="voctrainer/external/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="voctrainer/external/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
  <script src="voctrainer/external/jquery.csv.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="voctrainer/external/raphael.min.js" type="text/javascript" charset="utf-8"></script>

  <script src="voctrainer/voctrainer.js"></script>
  <script src="voctrainer/score.js"></script>
  <script src="voctrainer/keyevents.js"></script>
  <script src="voctrainer/view.js"></script>

</body>
</html>
